.button {
    background-color: $pink;
    font-size: $body_large;
    line-height: 26px;
    padding: 18px 24px;
    border-radius: 18px;

    @media (max-width: 1023px) {
        font-size: $body_large__mobile;
        line-height: 19px;
        width: 100%;
    }

    &:hover {
        color: hsla(227, 20%, 6%, 1);
        background-color: hsla(0, 0%, 100%, 1);
        box-shadow: 0px 0px 30px 2px $pink__light;
    }

    &:active {
        color: hsla(227, 20%, 6%, 1);
        background-color: hsla(0, 0%, 100%, 1);
    }

    &:disabled {
        background-color: hsl(0, 0%, 30%);
        color: hsl(0, 0%, 22%);
    }

    &--large {
        width: 100%;
    }
}

.email {
    background-color: hsla(243, 26%, 14%, 1);
    font-size: $body_large;
    line-height: 26px;
    padding: 18px 24px;
    border-radius: 18px;
    border: none;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);
    border: 1px solid hsla(243, 26%, 14%, 1);

    @media (max-width: 1023px) {
        font-size: $body_large__mobile;
        line-height: 19px;
        width: 100%;
    }

    &:focus {
        border: 1px solid $cyan__light;
        caret-color: $cyan__light;
    }

    &.error {
        border: 1px solid $pink__light;
        caret-color: $pink__light;
        color: $pink__light;

        &::placeholder {
            color: $pink__light;
        }
    }

    &--large {
        width: 100%;
    }
}