@font-face {
    font-family: 'involve';
    src: url('../fonts/involve.woff2') format('woff2'),
         url('../fonts/involve.woff') format('woff'),
         url('../fonts/involve.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'evolventa';
    src: url('../fonts/evolventa.woff2') format('woff2'),
         url('../fonts/evolventa.woff') format('woff'),
         url('../fonts/evolventa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}