$black: hsla(227, 20%, 6%, 1);
$black__light: hsla(230, 20%, 6%, 1);
$grey__black: hsla(243, 26%, 11%, 1);
$grey: hsl(0, 0%, 60%);
$pink__light: hsla(321, 95%, 50%, 1);
$pink:hsla(324, 100%, 40%, 1);
$cyan:hsla(230, 82%, 65%, 1);
$cyan__light:hsla(183, 89%, 74%, 1);

$subheading: 44px;
$body_large: 24px;
$accent: 120px;
$heading: 80px;
$body: 16px;
$large:219px;


$subheading__mobile: 30px;
$body_large__mobile: 16px;
$body__mobile: 12px;
$accent__mobile: 52px;
$heading__mobile: 36px;
$large__mobile: 48px;